In [1]:
import numpy as np
import pandas as pd
import talib as ta
import pandas_datareader as webreader
from sklearn.model_selection import train_test_split
from pycaret.regression import *

In [2]:
# the pandas webreader provides remote data access to apis
import pandas_datareader as webreader

date_today = "2022-11-10"
date_start = "2010-01-01"

# set the symbol to bitcoin-usd quotes
# for more symbols check yahoo.finance.com
symbol = "BTC-USD"

In [3]:
# now we will send the request to the yahoo finance api endpoint
df = webreader.DataReader(symbol, start=date_start, end=date_today, data_source="yahoo")

In [4]:
#ta lib technical indicators
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df['200 SMA'] = ta.SMA(df['Close'], timeperiod=200)
df['10 EMA'] = ta.EMA(df['Close'], timeperiod=10)
df['20 EMA'] = ta.EMA(df['Close'], timeperiod=20)
df['RSI'] = ta.RSI(df['Close'], timeperiod=14)

In [5]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI
Date,,,,,,,,,,,
2022-11-07,21053.246094,20489.972656,20924.621094,20602.816406,53510852236,20602.816406,19683.553633,23881.031875,20634.032692,20341.873001,55.038707
2022-11-08,20664.607422,17603.544922,20600.671875,18541.271484,118992465607,18541.271484,19663.496484,23775.036631,20253.530654,20170.387142,35.913352
2022-11-09,18590.458984,15682.692383,18543.761719,15880.780273,102905151606,15880.780273,19603.296309,23657.006880,19458.485130,19761.853155,24.217638
2022-11-10,18054.312500,15834.018555,15883.158203,17586.771484,83202283721,17586.771484,19584.083730,23547.594272,19118.173558,19554.702520,38.131300
2022-11-11,17650.943359,16543.482422,17583.251953,17034.292969,55871616488,17034.292969,19536.498574,23430.474194,18739.286178,19314.663515,35.836612

In [6]:
#predecit the next day
future_prediction = 1
df['Future Price'] = df['Close'].shift(-future_prediction)

In [7]:
#test close and future price
df = df[['Close', 'RSI', 'Future Price']]
df.tail()

                   Close        RSI  Future Price
Date
2022-11-07  20602.816406  55.038707  18541.271484
2022-11-08  18541.271484  35.913352  15880.780273
2022-11-09  15880.780273  24.217638  17586.771484
2022-11-10  17586.771484  38.131300  17034.292969
2022-11-11  17034.292969  35.836612           NaN

In [8]:
#copy df
future_df = df.copy()
#create data set
X = np.array(future_df[df.columns])
#remove the future days
X = X[:len(df)-future_prediction]
#create target
y = np.array(df['Future Price'])
#remove future days
y = y[:-future_prediction]
#split data train test, note training variables
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0, shuffle=False)

In [9]:
#turn train into dataframe
train_df = pd.DataFrame(X_train, columns = df.columns)
#show data
train_df.head()

        Close  RSI  Future Price
0  457.334015  NaN    424.440002
1  424.440002  NaN    394.795990
2  394.795990  NaN    408.903992
3  408.903992  NaN    398.821014
4  398.821014  NaN    402.152008

In [10]:
#test to df
test_df = pd.DataFrame(X_test, columns = future_df.columns)
#show data
test_df.head()

          Close        RSI  Future Price
0  48905.492188  67.287827  49321.652344
1  49321.652344  68.138209  49546.148438
2  49546.148438  68.612230  47706.117188
3  47706.117188  60.647974  48960.789062
4  48960.789062  63.738806  46942.218750

In [11]:
#setup the model
regression_setup = setup(data = train_df, target = 'Future Price', session_id = 1, use_gpu=True)

In [12]:
#test models sort by r2
best_model = compare_models(sort = 'r2')

In [13]:
#create model
model = create_model(best_model)

In [14]:
#evaluate the model
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [15]:
#evaluate the predictions
unseen_predictions = predict_model(model, data=test_df)
#print
unseen_predictions

            Close        RSI  Future Price         Label
0    48905.492188  67.287827  49321.652344  48976.128906
1    49321.652344  68.138209  49546.148438  49394.902344
2    49546.148438  68.612230  47706.117188  49620.851562
3    47706.117188  60.647974  48960.789062  47757.195312
4    48960.789062  63.738806  46942.218750  49021.257812
..            ...        ...           ...           ...
442  20926.486328  59.671529  20602.816406  20963.843750
443  20602.816406  55.038707  18541.271484  20626.734375
444  18541.271484  35.913352  15880.780273  18509.417969
445  15880.780273  24.217638  17586.771484  15814.250000
446  17586.771484  38.131300  17034.292969  17560.898438

[447 rows x 4 columns]