In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn import metrics
import talib as ta
from finta import TA

import warnings
warnings.filterwarnings('ignore')

In [2]:
# the pandas webreader provides remote data access to apis
import pandas_datareader as webreader

date_today = "2022-11-14"
date_start = "2018-02-01"

# set the symbol to bitcoin-usd quotes
# for more symbols check yahoo.finance.com
symbol = "BTC-USD"

In [3]:
# now we will send the request to the yahoo finance api endpoint
df = webreader.DataReader(symbol, start=date_start, end=date_today, data_source="yahoo")
df.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-02-01,10288.799805,8812.280273,10237.299805,9170.540039,9959400448,9170.540039
2018-02-02,9142.280273,7796.490234,9142.280273,8830.750000,12726899712,8830.750000
2018-02-03,9430.750000,8251.629883,8852.120117,9174.910156,7263790080,9174.910156
2018-02-04,9334.870117,8031.220215,9175.700195,8277.009766,7073549824,8277.009766
2018-02-05,8364.839844,6756.680176,8270.540039,6955.270020,9285289984,6955.270020

In [4]:
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df['200 SMA'] = ta.SMA(df['Close'], timeperiod=200)
df['10 EMA'] = ta.EMA(df['Close'], timeperiod=10)
df['20 EMA'] = ta.EMA(df['Close'], timeperiod=20)
df['RSI'] = ta.RSI(df['Close'], timeperiod=14)

In [5]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI
Date,,,,,,,,,,,
2022-11-10,18054.312500,15834.018555,15883.158203,17586.771484,83202283721,17586.771484,19584.083730,23547.594272,19118.173558,19554.702520,38.131300
2022-11-11,17650.943359,16543.482422,17583.251953,17034.292969,55871616488,17034.292969,19536.498574,23430.474194,18739.286178,19314.663515,35.836612
2022-11-12,17066.675781,16651.775391,17036.875000,16799.185547,29717699419,16799.185547,19486.529512,23323.882817,18386.540609,19075.094185,34.874802
2022-11-13,16920.765625,16320.634766,16799.722656,16353.365234,27209183682,16353.365234,19434.856582,23209.444038,18016.872359,18815.881904,33.062715
2022-11-14,17095.193359,15876.135742,16363.816406,16364.803711,48871534592,16364.803711,19386.110703,23092.398916,17716.496241,18582.445885,33.158678

In [6]:
FeerGreed = pd.read_csv("Feer_greed.csv")  
FeerGreed

            Date  value value_classification
0     2022-11-14     24         Extreme Fear
1     2022-11-13     22         Extreme Fear
2     2022-11-12     21         Extreme Fear
3     2022-11-11     25         Extreme Fear
4     2022-11-10     22         Extreme Fear
...          ...    ...                  ...
1740  2018-02-05     11         Extreme Fear
1741  2018-02-04     24         Extreme Fear
1742  2018-02-03     40                 Fear
1743  2018-02-02     15         Extreme Fear
1744  2018-02-01     30                 Fear

[1745 rows x 3 columns]

In [7]:

FeerGreed.set_index('Date',inplace=True)
FeerGreed

            value value_classification
Date
2022-11-14     24         Extreme Fear
2022-11-13     22         Extreme Fear
2022-11-12     21         Extreme Fear
2022-11-11     25         Extreme Fear
2022-11-10     22         Extreme Fear
...           ...                  ...
2018-02-05     11         Extreme Fear
2018-02-04     24         Extreme Fear
2018-02-03     40                 Fear
2018-02-02     15         Extreme Fear
2018-02-01     30                 Fear

[1745 rows x 2 columns]

In [11]:
FeerGreed.index = pd.to_datetime(FeerGreed.index)

In [12]:
dfmerged = df.merge(FeerGreed,on='Date')
dfmerged.head(50)

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI,value,value_classification
Date,,,,,,,,,,,,,
2018-02-01,10288.799805,8812.280273,10237.299805,9170.540039,9959400448,9170.540039,NaN,NaN,NaN,NaN,NaN,30,Fear
2018-02-02,9142.280273,7796.490234,9142.280273,8830.750000,12726899712,8830.750000,NaN,NaN,NaN,NaN,NaN,15,Extreme Fear
2018-02-03,9430.750000,8251.629883,8852.120117,9174.910156,7263790080,9174.910156,NaN,NaN,NaN,NaN,NaN,40,Fear
2018-02-04,9334.870117,8031.220215,9175.700195,8277.009766,7073549824,8277.009766,NaN,NaN,NaN,NaN,NaN,24,Extreme Fear
2018-02-05,8364.839844,6756.680176,8270.540039,6955.270020,9285289984,6955.270020,NaN,NaN,NaN,NaN,NaN,11,Extreme Fear
2018-02-06,7850.700195,6048.259766,7051.750000,7754.000000,13999800320,7754.000000,NaN,NaN,NaN,NaN,NaN,8,Extreme Fear
2018-02-07,8509.110352,7236.790039,7755.490234,7621.299805,9169280000,7621.299805,NaN,NaN,NaN,NaN,NaN,36,Fear
2018-02-08,8558.769531,7637.859863,7637.859863,8265.589844,9346750464,8265.589844,NaN,NaN,NaN,NaN,NaN,30,Fear
2018-02-09,8736.980469,7884.709961,8271.839844,8736.980469,6784820224,8736.980469,NaN,NaN,NaN,NaN,NaN,44,Fear
2018-02-10,9122.549805,8295.469727,8720.080078,8621.900391,7780960256,8621.900391,NaN,NaN,8340.825049,NaN,NaN,54,Neutral
2018-02-11,8616.129883,7931.100098,8616.129883,8129.970215,6122189824,8129.970215,NaN,NaN,8302.487806,NaN,NaN,31,Fear
2018-02-12,8985.919922,8141.430176,8141.430176,8926.570312,6256439808,8926.570312,NaN,NaN,8415.957353,NaN,NaN,42,Fear
2018-02-13,8958.469727,8455.410156,8926.719727,8598.309570,5696719872,8598.309570,NaN,NaN,8449.112301,NaN,NaN,35,Fear
2018-02-14,9518.540039,8599.919922,8599.919922,9494.629883,7909819904,9494.629883,NaN,NaN,8639.206407,NaN,NaN,55,Greed
2018-02-15,10234.799805,9395.580078,9488.320312,10166.400391,9062540288,10166.400391,NaN,NaN,8916.878041,NaN,56.035032,71,Greed
2018-02-16,10324.099609,9824.820312,10135.700195,10233.900391,7296159744,10233.900391,NaN,NaN,9156.336650,NaN,56.419002,67,Greed
2018-02-17,11139.500000,10149.400391,10207.500000,11112.700195,8660880384,11112.700195,NaN,NaN,9512.039112,NaN,61.173348,74,Greed
2018-02-18,11349.799805,10326.000000,11123.400391,10551.799805,8744009728,10551.799805,NaN,NaN,9701.086511,NaN,56.906237,63,Greed
2018-02-19,11273.799805,10513.200195,10552.599609,11225.299805,7652089856,11225.299805,NaN,NaN,9978.216201,NaN,60.471703,67,Greed
2018-02-20,11958.500000,11231.799805,11231.799805,11403.700195,9926540288,11403.700195,NaN,NaN,10237.395109,9162.576563,61.383130,74,Greed
2018-02-21,11418.500000,10479.099609,11372.200195,10690.400391,9405339648,10690.400391,NaN,NaN,10319.759706,9308.083594,55.839244,54,Neutral
2018-02-22,11039.099609,9939.089844,10660.400391,10005.000000,8040079872,10005.000000,NaN,NaN,10262.530668,9374.456585,51.066599,44,Fear
2018-02-23,10487.299805,9734.559570,9937.070312,10301.099609,7739500032,10301.099609,NaN,NaN,10269.543203,9462.708301,52.938005,39,Fear
2018-02-24,10597.200195,9546.969727,10287.700195,9813.070312,6917929984,9813.070312,NaN,NaN,10186.548132,9496.076112,49.572892,31,Fear
2018-02-25,9923.219727,9407.059570,9796.419922,9664.730469,5706939904,9664.730469,NaN,NaN,10091.672193,9512.138432,48.562409,33,Fear
2018-02-26,10475.000000,9501.730469,9669.429688,10366.700195,7287690240,10366.700195,NaN,NaN,10141.677284,9593.525266,53.402894,37,Fear
2018-02-27,10878.500000,10246.099609,10393.900391,10725.599609,6966179840,10725.599609,NaN,NaN,10247.844980,9701.341870,55.698341,44,Fear
2018-02-28,11089.799805,10393.099609,10687.200195,10397.900391,6936189952,10397.900391,NaN,NaN,10275.127782,9767.680777,53.125016,41,Fear
2018-03-01,11052.299805,10352.700195,10385.000000,10951.000000,7317279744,10951.000000,NaN,NaN,10398.013640,9880.377846,56.756514,38,Fear
2018-03-02,11189.000000,10850.099609,10977.400391,11086.400391,7620590080,11086.400391,NaN,NaN,10523.174867,9995.237136,57.622051,47,Neutral
2018-03-03,11528.200195,11002.400391,11101.900391,11489.700195,6690570240,11489.700195,NaN,NaN,10698.906745,10137.566951,60.178713,56,Greed
2018-03-04,11512.599609,11136.099609,11497.400391,11512.599609,6084149760,11512.599609,NaN,NaN,10846.850902,10268.522442,60.325076,44,Fear
2018-03-05,11704.099609,11443.900391,11532.400391,11573.299805,6468539904,11573.299805,NaN,NaN,10978.932521,10392.786953,60.737030,55,Greed
2018-03-06,11500.099609,10694.299805,11500.099609,10779.900391,6832169984,10779.900391,NaN,NaN,10942.744861,10429.654900,52.991902,59,Greed
2018-03-07,10929.500000,9692.120117,10803.900391,9965.570312,8797910016,9965.570312,NaN,NaN,10765.076761,10385.456367,46.445377,37,Fear
2018-03-08,10147.400391,9335.870117,9951.440430,9395.009766,7186089984,9395.009766,NaN,NaN,10515.973671,10291.128120,42.485113,39,Fear
2018-03-09,9466.349609,8513.030273,9414.690430,9337.549805,8704190464,9337.549805,NaN,NaN,10301.714786,10200.311137,42.095827,37,Fear
2018-03-10,9531.320312,8828.469727,9350.589844,8866.000000,5386319872,8866.000000,NaN,NaN,10040.675734,10073.233886,38.942273,39,Fear
2018-03-11,9711.889648,8607.120117,8852.780273,9578.629883,6296370176,9578.629883,NaN,NaN,9956.667398,10026.128743,45.577570,40,Fear
2018-03-12,9937.500000,8956.429688,9602.929688,9205.120117,6457399808,9205.120117,NaN,NaN,9820.022437,9947.937445,42.943428,41,Fear
2018-03-13,9470.379883,8958.190430,9173.040039,9194.849609,5991139840,9194.849609,NaN,NaN,9706.354651,9876.214794,42.870059,41,Fear
2018-03-14,9355.849609,8068.589844,9214.650391,8269.809570,6438230016,8269.809570,NaN,NaN,9445.164636,9723.223820,36.775626,40,Fear
2018-03-15,8428.349609,7783.049805,8290.759766,8300.860352,6834429952,8300.860352,NaN,NaN,9237.109312,9587.760633,37.098873,32,Fear
2018-03-16,8585.150391,8005.310059,8322.910156,8338.349609,5289379840,8338.349609,NaN,NaN,9073.698457,9468.769107,37.514257,33,Fear
2018-03-17,8346.530273,7812.819824,8321.910156,7916.879883,4426149888,7916.879883,NaN,NaN,8863.367807,9320.970133,34.736931,31,Fear
2018-03-18,8245.509766,7397.990234,7890.520020,8223.679688,6639190016,8223.679688,NaN,NaN,8747.060876,9216.466281,38.316829,29,Fear
2018-03-19,8675.870117,8182.399902,8344.120117,8630.650391,6729110016,8630.650391,NaN,NaN,8725.895333,9160.674292,42.799106,29,Fear
2018-03-20,9051.019531,8389.889648,8619.669922,8913.469727,6361789952,8913.469727,NaN,NaN,8759.999768,9137.131000,45.749412,37,Fear
2018-03-21,9177.370117,8846.330078,8937.480469,8929.280273,6043129856,8929.280273,NaN,NaN,8790.778042,9117.335692,45.917349,36,Fear
2018-03-22,9100.709961,8564.900391,8939.440430,8728.469727,5530390016,8728.469727,9488.062227,NaN,8779.449257,9080.300839,44.052123,36,Fear