In [30]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn import metrics
import talib as ta
from finta import TA

import warnings
warnings.filterwarnings('ignore')

In [22]:
# the pandas webreader provides remote data access to apis
import pandas_datareader as webreader

date_today = "2020-01-01"
date_start = "2010-01-01"

# set the symbol to bitcoin-usd quotes
# for more symbols check yahoo.finance.com
symbol = "BTC-USD"

In [23]:
# now we will send the request to the yahoo finance api endpoint
df = webreader.DataReader(symbol, start=date_start, end=date_today, data_source="yahoo")
df.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015
2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002
2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990
2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992
2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014

In [25]:
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df

,High,Low,Open,Close,Volume,Adj Close,50 SMA
Date,,,,,,,
2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015,NaN
2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002,NaN
2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990,NaN
2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992,NaN
2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014,NaN
...,...,...,...,...,...,...,...
2019-12-29,7513.948242,7279.865234,7317.647461,7422.652832,22445257702,7422.652832,7594.035234
2019-12-30,7454.824219,7276.308105,7420.272949,7292.995117,22874131672,7292.995117,7558.784609
2019-12-31,7335.290039,7169.777832,7294.438965,7193.599121,21167946112,7193.599121,7527.500830
2020-01-01,7254.330566,7174.944336,7194.892090,7200.174316,18565664997,7200.174316,7495.191074
2020-01-02,7212.155273,6935.270020,7202.551270,6985.470215,20802083465,6985.470215,7458.735225

In [27]:
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df['200 SMA'] = ta.SMA(df['Close'], timeperiod=200)
df['10 EMA'] = ta.EMA(df['Close'], timeperiod=10)
df['20 EMA'] = ta.EMA(df['Close'], timeperiod=20)
df['RSI'] = ta.RSI(df['Close'], timeperiod=14)
df.tail()

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI
Date,,,,,,,,,,,
2019-12-29,7513.948242,7279.865234,7317.647461,7422.652832,22445257702,7422.652832,7594.035234,9321.269475,7303.683471,7313.282900,51.867873
2019-12-30,7454.824219,7276.308105,7420.272949,7292.995117,22874131672,7292.995117,7558.784609,9316.579832,7301.740134,7311.350730,47.833501
2019-12-31,7335.290039,7169.777832,7294.438965,7193.599121,21167946112,7193.599121,7527.500830,9309.078662,7282.078132,7300.136291,44.947238
2020-01-01,7254.330566,7174.944336,7194.892090,7200.174316,18565664997,7200.174316,7495.191074,9300.887659,7267.186529,7290.616103,45.182876
2020-01-02,7212.155273,6935.270020,7202.551270,6985.470215,20802083465,6985.470215,7458.735225,9290.842568,7215.965381,7261.554590,39.271849