In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn import metrics
import talib as ta
from finta import TA

import warnings
warnings.filterwarnings('ignore')

In [3]:
# the pandas webreader provides remote data access to apis
import pandas_datareader as webreader

date_today = "2020-11-10"
date_start = "2010-01-01"

# set the symbol to bitcoin-usd quotes
# for more symbols check yahoo.finance.com
symbol = "BTC-USD"

In [4]:
# now we will send the request to the yahoo finance api endpoint
df = webreader.DataReader(symbol, start=date_start, end=date_today, data_source="yahoo")
df.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-09-17,468.174011,452.421997,465.864014,457.334015,21056800,457.334015
2014-09-18,456.859985,413.104004,456.859985,424.440002,34483200,424.440002
2014-09-19,427.834991,384.532013,424.102997,394.795990,37919700,394.795990
2014-09-20,423.295990,389.882996,394.673004,408.903992,36863600,408.903992
2014-09-21,412.425995,393.181000,408.084991,398.821014,26580100,398.821014

In [5]:
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df['200 SMA'] = ta.SMA(df['Close'], timeperiod=200)
df['10 EMA'] = ta.EMA(df['Close'], timeperiod=10)
df['20 EMA'] = ta.EMA(df['Close'], timeperiod=20)
df['RSI'] = ta.RSI(df['Close'], timeperiod=14)

In [6]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI
Date,,,,,,,,,,,
2020-11-07,15737.095703,14423.203125,15565.880859,14833.753906,35024953706,14833.753906,11968.889980,10452.056196,14344.034403,13630.284173,69.916497
2020-11-08,15637.320312,14744.110352,14833.753906,15479.567383,26632075029,15479.567383,12056.594395,10493.867996,14550.494945,13806.406383,74.139613
2020-11-09,15785.136719,14865.529297,15479.595703,15332.315430,34149115566,15332.315430,12144.475273,10533.380950,14692.644124,13951.731054,71.669166
2020-11-10,15450.329102,15124.959961,15332.350586,15290.902344,25574938143,15290.902344,12241.048125,10572.080957,14801.418346,14079.271177,70.953092
2020-11-11,15916.260742,15290.006836,15290.909180,15701.339844,29772374934,15701.339844,12344.305723,10612.737976,14965.040436,14233.753907,73.752158