In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
  
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn import metrics
import talib as ta
from finta import TA

import warnings
warnings.filterwarnings('ignore')

In [2]:
# the pandas webreader provides remote data access to apis
import pandas_datareader as webreader

date_today = "2022-11-14"
date_start = "2018-02-01"

# set the symbol to bitcoin-usd quotes
# for more symbols check yahoo.finance.com
symbol = "BTC-USD"

In [3]:
# now we will send the request to the yahoo finance api endpoint
df = webreader.DataReader(symbol, start=date_start, end=date_today, data_source="yahoo")
df.head(5)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-02-01,10288.799805,8812.280273,10237.299805,9170.540039,9959400448,9170.540039
2018-02-02,9142.280273,7796.490234,9142.280273,8830.750000,12726899712,8830.750000
2018-02-03,9430.750000,8251.629883,8852.120117,9174.910156,7263790080,9174.910156
2018-02-04,9334.870117,8031.220215,9175.700195,8277.009766,7073549824,8277.009766
2018-02-05,8364.839844,6756.680176,8270.540039,6955.270020,9285289984,6955.270020

In [4]:
df['50 SMA'] = ta.SMA(df['Close'], timeperiod=50)
df['200 SMA'] = ta.SMA(df['Close'], timeperiod=200)
df['10 EMA'] = ta.EMA(df['Close'], timeperiod=10)
df['20 EMA'] = ta.EMA(df['Close'], timeperiod=20)
df['RSI'] = ta.RSI(df['Close'], timeperiod=14)

In [7]:
df

,High,Low,Open,Close,Volume,Adj Close,50 SMA,200 SMA,10 EMA,20 EMA,RSI
Date,,,,,,,,,,,
2018-02-01,10288.799805,8812.280273,10237.299805,9170.540039,9959400448,9170.540039,NaN,NaN,NaN,NaN,NaN
2018-02-02,9142.280273,7796.490234,9142.280273,8830.750000,12726899712,8830.750000,NaN,NaN,NaN,NaN,NaN
2018-02-03,9430.750000,8251.629883,8852.120117,9174.910156,7263790080,9174.910156,NaN,NaN,NaN,NaN,NaN
2018-02-04,9334.870117,8031.220215,9175.700195,8277.009766,7073549824,8277.009766,NaN,NaN,NaN,NaN,NaN
2018-02-05,8364.839844,6756.680176,8270.540039,6955.270020,9285289984,6955.270020,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-10,18054.312500,15834.018555,15883.158203,17586.771484,83202283721,17586.771484,19584.083730,23547.594272,19118.173558,19554.702520,38.131300
2022-11-11,17650.943359,16543.482422,17583.251953,17034.292969,55871616488,17034.292969,19536.498574,23430.474194,18739.286178,19314.663515,35.836612
2022-11-12,17066.675781,16651.775391,17036.875000,16799.185547,29717699419,16799.185547,19486.529512,23323.882817,18386.540609,19075.094185,34.874802
2022-11-13,16920.765625,16320.634766,16799.722656,16353.365234,27209183682,16353.365234,19434.856582,23209.444038,18016.872359,18815.881904,33.062715
2022-11-14,17095.193359,15876.135742,16363.816406,16608.339844,47894626304,16608.339844,19390.981426,23093.616597,17760.775538,18605.639803,35.138471